/vendor/
/.env
/storage/logs/*
/storage/backups/*
/storage/tmp/*
/storage/uploads/*
/storage/imports/*
/public/uploads/photos/*
/public/uploads/formulaires/*
/public/uploads/logos/*
/public/preview_*.html
!/storage/logs/.htaccess
!/storage/backups/.htaccess
!/storage/uploads/.htaccess
!/storage/imports/.htaccess
!/public/uploads/photos/.htaccess
!/public/uploads/formulaires/.htaccess
!/public/uploads/logos/.htaccess
.DS_Store
Thumbs.db
